@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #001220;
  }

body {
    color: white;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--dark-blue);
    height: 100%;
}

#sections-container {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    padding-top: 2.5em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.card {
    flex: 1 1 0px;
}

.card > ul {
    border: 1px dotted white;
    min-height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card > h3 {
    background-color: white;
    text-align: center;
    color: var(--dark-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
    }
}

#contact {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#portrait {
    max-width: 5em;
    border-radius: 50%;
}

#about-list {
    margin-top: 1em;
}

ul {
    list-style: none;
}

ul li::before {
    content: "◦";
    display: inline-block;
    margin-right: 0.3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 25vh;
}

.spacer {
    aspect-ratio: 900 / 150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves {
    background-image: url('../images/waves.svg');
}

particle {
    pointer-events: none;
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: mintcream;
    border: 3px dotted #001220;
    z-index: -1;
    opacity: 1;
    animation: particleFade 2s linear;
    animation-iteration-count: infinite;
}

@keyframes particleFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.15;
        width: 9px;
        height: 9px;
        background-color: cyan;
    }
    100% {
        opacity: 0;
    }
}

satellite {
    pointer-events: none;
    position: fixed;
    font-size: 30px;
    z-index: -1;
    opacity: 0;
    top: 50px;
    animation: satelliteFade 3s linear;
    animation-iteration-count: infinite;
}

@keyframes satelliteFade {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 1;
        font-size: 60px;
    }
    100% {
        opacity: 0;
        font-size: 30px;
    }
}