@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

:root {
    --dark-blue: #001220;
}

body {
    color: white;
    background-color: var(--dark-blue);
    height: 100%;
}

body h1 {
    margin-top: 1vmin;
}

.fa-wrapper {
    position: relative;
}

.fa-crossed-out {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    opacity: 0.8;
    cursor: help;
}

.fa-crossed-out:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -1.3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 0.4em;
    border-radius: 6px;
    white-space: nowrap;
}

#sections-container {
    display: flex;
    flex-direction: column;
    gap: 5vmin;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

#contact {
    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: center;
}

#contact > h2 {
    font-size: 0.8em;
}

#image-and-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: white;
}

#portrait {
    max-width: 15vmin;
    border-radius: 50%;
}

#tech-section {
    width: 80%;
    align-self: center;
}

#search {
    width: 100%;
    border-radius: 5px;
    height: 2.5em;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    flex: 1;
}

.card > h3 {
    background-color: white;
    text-align: center;
    color: var(--dark-blue);
    padding: 0 1em 0 1em;
}

@media only screen and (max-width: 800px) {
    #sections-container {
        gap: 1vmin;
    }
    #search {
        width: 100vw;
    }
    .card-container {
        width: 100vw;
        flex-direction: column;
        gap: 5vmin;
    }
    .spacer {
        opacity: 0.2;
    }
}

ul {
    list-style: none;
}

ul li::before {
    content: "◦";
    display: inline-block;
    margin-right: 0.3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 25vh;
}

.spacer {
    aspect-ratio: 900 / 150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves {
    background-image: url('../images/waves.svg');
}

particle {
    pointer-events: none;
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: mintcream;
    border: 3px dotted #001220;
    z-index: -1;
    opacity: 1;
    animation: particleFade 2s linear;
    animation-iteration-count: infinite;
}

@keyframes particleFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.15;
        width: 9px;
        height: 9px;
        background-color: cyan;
    }
    100% {
        opacity: 0;
    }
}